*{
    margin: 0px;
    padding: 0px;
}
body{
   background-color: rgb(22, 30, 59);
    font-family: 'Karla', sans-serif;
    height: 100%;
    transition: all 2s;
}

#wrapper{
    display: grid;
}

#contentIntro{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 13%;
}

#searchBox{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 1%;
}

#city {
    width: 35%;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    font-size: 17px;
}

#buttonClass{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 2%;
}

#dugme, #dugme1{
    width: 8%;
    height: 25px;
    border-radius: 15%;
    background-color: rgb(75, 132, 179);
    cursor: pointer;
    border: 0px;
    color: white;
}
#add1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(5, 24, 85, 0.534);
    color: white;
    margin-top: 3%;
    font-size: 140%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    transition: all 2s;
    height: 0px;
}

#data{
    text-align: center;
}

#main3hours{
    display: grid;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: 1fr 1fr 1fr;
}
#first, #second, #third{
    text-align: center;
    border-radius: 3%;
    margin-right: 3%;
    background-color: rgba(5, 24, 85, 0.534);
    display: none;
}
#sati1, #sati2, #sati3{
    color:white;
    font-weight: bold;
    margin-top: 5%;
}

@media only screen and (max-width: 600px){
    #contentIntro{
        margin-top: 45%;
    }
    #searchBox{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #city{
        width: 50%;
        height: 45px;
    }

    #add1{
       width: 100%;
       margin-top: 10%;
       margin-bottom: 5%;
    }

    #dugme, #dugme1{
        width: 30%;
        height: 45px;
        font-size: 120%;
        border-radius: 15%;
        background-color: rgb(75, 132, 179);
        cursor: pointer;
        border: 0px;
        color: white;
    }

    #main3hours{
        display: grid;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #first, #second, #third{
        text-align: center;
        border-radius: 3%;
        margin-right: 3%;
        background-color: rgba(5, 24, 85, 0.534);
        display: none;
    }

}